<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Custom Pizza Confirmation</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <div id="container">
          <h1>Your Pizza</h1>
      <div>
          <h3>Size:</h3> {{size}}
      </div>
      <p>
          <h3>Toppings:</h3> {{toppings}}
      </p>
      <p>
          <h3>Gluten-Free Crust:</h3> {{crust}}
      </p>
      <p>
          <h3>Special Instructions:</h3> {{instructions}}
      </p>

      <p>
          <h3>Price:</h3> ${{price}}
      </p>

      <a href="/custom-pizza-create">Build another pizza</a>
      <a href="/">Back to Homepage</a>
      </div>


  </body>
  </html>